/* style.h1 {
    background-color: 3e655f;
} */

/* 323b52
748680 */
/* this color is like a spruce
 color: #2B3833;
 this color is grey
color: #394b45;
this color is a terra cotta color
 color: #995312; */
 /* as well as this
 color: #994718 */
 /* this ia a pretty greenish grey
 color: #c1caaf */